html {
    height: 100%;
}
body {
	background-image: linear-gradient(rgb(0, 180, 252), rgb(0, 119, 255));
}
.mainlogo {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	height: 18%;
	width: 18%;
}
.introcopy {
	font-family: 'Quicksand', sans-serif;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
	color: white;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.drophere-holder {
	position: relative;
}
.drophere-front {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 600px;
	width: 80%;
	line-height: 600px;
	border: 2px rgba(255, 255, 255, 0.85) dashed;
	margin-top: 1px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.0);
}
.drophere-back {
	display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 604px;
    width: 80.2%;
    border-radius: 38px;
    border: 10px rgba(255, 255, 255, 0.15) solid;
    z-index: -1;
}
.plusicon {
	display: block;
	margin: 0 auto;
	margin-top: 200px;
	height: 80px;
	width: 80px;
}
.dottedlinecta {
	position: relative;
	padding: 0 20px 0 20px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	line-height: 80px;
	font-size: 35px;
	font-weight: normal;
	text-align: center;
	letter-spacing: -1px;
}
